@model OrderDetail[]

@{
    ViewData["Title"] = "Index";
}

<h1>Carrello</h1>

@if (Model is null || Model.Length == 0)
{
    <h3>Il carrello è vuoto</h3>
    <a asp-controller="Menu" asp-action="Index">Consulta il menù</a>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-primary">
                <th>
                    Nome prodotto
                </th>
                <th>
                    ID Prodotto
                </th>
                <th>
                    Quantità
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var orderDetail in Model)
            {
                <tr>
                    <td>
                        @orderDetail.Product.Name
                    </td>
                    <td>
                        @orderDetail.ProductId
                    </td>
                    <td>
                        @orderDetail.Quantity
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-controller="Menu" asp-action="EditItem" asp-route-order_detail_id="@orderDetail.Id"><i class="bi bi-pencil"></i></a>
                        <a class="btn btn-danger" asp-controller="Menu" asp-action="DeleteItem" asp-route-order_detail_id="@orderDetail.Id"><i class="bi bi-trash3"></i></a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <form asp-controller="Menu" asp-action="SubmitOrder">
        <input type="hidden" asp-for="@Model.First().OrderId" />
        <input class="btn btn-primary" type="submit" value="Invia ordine" />
    </form>
}
